head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Majuro.js Data Check-Out
  link(rel='stylesheet', href='/stylesheets/leaflet.css', type='text/css')
  link(rel='stylesheet', href='/pancontrol/stylesheets/L.Control.Pan.css', type='text/css')
  // [if lte IE 8]
    link(rel='stylesheet', href='/stylesheets/leaflet.ie.css', type='text/css')
    link(rel='stylesheet', href='/pancontrol/stylesheets/L.Control.Pan.ie.css', type='text/css')
  link(href='/stylesheets/bootstrap-mini.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/checkouttimemaker.css', rel='stylesheet', type='text/css')
  script(src='/scripts/leaflet.js', type='text/javascript')
  script(src='/scripts/jquery-1.6.2.min.js', type='text/javascript')
  script(type="text/javascript", src="/pancontrol/scripts/L.Control.Pan.js")
  script(type="text/javascript") var src = "#{src}";
  script(src='/scripts/checkouttimemaker.js', type='text/javascript')

body
  div#map

  div#sidebar
    div#timeline
      h2 MajuroJS.org
      p
        span Instant interactive neighborhood maps
        br
        span 1) Select a city:&nbsp;&nbsp;&nbsp;
        select#cityselect(style="font-size:14pt;")
          option(value="pittsburgh") Allegheny County, PA
          option(value="austin") Austin, TX
          option(value="baltimore") Baltimore, MD
          option(value="bloomington") Bloomington, IN
          option(value="boston") Boston, MA
          option(value="chapelhill") Chapel Hill, NC
          option(value="chicago") Chicago, IL
          option(value="clark") Clark County, OH
          option(value="honolulu") Honolulu, HI
          option(value="kitsap") Kitsap County, WA
          option(value="midlandtx") Midland, TX
          option(value="nyc") New York, NY
          option(value="oakland") Oakland, CA
          option(value="petaluma") Petaluma, CA
          option(value="philadelphia") Philadelphia, PA
          option(value="raleigh") Raleigh, NC
          option(value="roundrock") Round Rock, TX
          option(value="sanfrancisco") San Francisco, CA
          option(value="savannah") Savannah, GA
          option(value="seattle") Seattle, WA
          option(value="steamboatsprings") Steamboat Springs, CO
          option(value="westsacramento") West Sacramento, CA
        br
        span 2) Drag center mark to move the blue shape
        br
        span 3) Move points on the blue shape to cover your neighborhood.
        br
        span 4) Select one:
        br
        br
        a.btn.btn-primary.visible(href="#", onclick="postGeo('html')") web map
        a.btn.btn-primary.visible.timeline(href="#", onclick="postGeo('time')") timeline
        //
          a.btn.visible.timeline(href="#", onclick="postGeo('clusters')") timecluster
        a.btn.btn-success.visible(href="#", onclick="postGeo('3d')") 3D view
        //
          a.btn.btn-info.visible(href="#", onclick="postGeo('geojson')") GeoJSON
          a.btn.btn-info.visible(href="#", onclick="postGeo('kml')") Google Earth / KML
        span .

  script(type="text/javascript") var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-37457564-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();