head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title MajuroJS Custom Timeline
  script(src='/scripts/mapbox.js', type='text/javascript')
  script(src='/scripts/jquery-1.6.2.min.js', type='text/javascript')
  script(src='/scripts/jquery-ui-slider.min.js', type='text/javascript')
  script(src='/scripts/checkouttime.js', type='text/javascript')
  link(href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/mapbox.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/jquery-ui-slider.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/checkouttime.css', rel='stylesheet', type='text/css')

body
  div#sidebar
    div#timeline
      h2 Majuro.js Timeline
      div#filter
      div#controls
      img#loading(src="/images/loading-gif.gif")
      p(style="margin-top:18px;")
        a(href="/", style="display:block;font-size:12pt;") Make your own timeline
        br
        span Download as&nbsp;
        a.visible(href="/timeline-at.kml?customgeo=#{customgeo}") Google Earth / KML
        span &nbsp;or&nbsp;
        a.visible(href="/timeline-at.geojson?customgeo=#{customgeo}") GeoJSON

  div#map
  a.zoomer.zoomin(href="javascript:map.zoomBy(1);void(0);") +
  a.zoomer.zoomout(href="javascript:map.zoomBy(-1);void(0);") -