head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title MajuroJS Custom Builder
  link(rel='stylesheet', href='/stylesheets/leaflet.css', type='text/css')
  link(rel='stylesheet', href='/pancontrol/stylesheets/L.Control.Pan.css', type='text/css')
  // [if lte IE 8]
    link(rel='stylesheet', href='/stylesheets/leaflet.ie.css', type='text/css')
    link(rel='stylesheet', href='/pancontrol/stylesheets/L.Control.Pan.ie.css', type='text/css')
  // [if lte IE 9]
    link(rel='stylesheet', href='/stylesheets/editor.ie.css', type='text/css')
    script(type='text/javascript') var IE_EDITOR = true;
  link(href='/stylesheets/bootstrap-mini.css', rel='stylesheet', type='text/css')
  link(href='/stylesheets/custombuild.css', rel='stylesheet', type='text/css')
  script(src='/scripts/leaflet.js', type='text/javascript')
  script(src='/scripts/jquery-1.7.1.min.js', type='text/javascript')
  script(type="text/javascript", src="/pancontrol/scripts/L.Control.Pan.js")
  script(type="text/javascript", src="/scripts/BlobBuilder.min.js")  
  script(type="text/javascript", src="/scripts/FileSaver.min.js")
  script(type="text/javascript", src="/scripts/custombuild.js")
  script(type="text/javascript", src="/scripts/bootstrap.min.js")

body
  div.container-fluid
    div.row-fluid
      div.span2(style="padding-top:28px;")
        h3 Majuro.JS
        p
          span Make your own maps with public building data!
          ul
            li.dragdrop(style="margin-left:-10px;") Drag & drop to color buildings
              br
              img.marker#marker_Red(src="/images/redmarker.png", title="Red", alt="Red", draggable="true", ondragstart="dragstarted(event);")
              img.marker#marker_Blue(src="/images/bluemarker.png", title="Blue", alt="Blue", draggable="true", ondragstart="dragstarted(event);")
              img.marker#marker_Green(src="/images/greenmarker.png", title="Green", alt="Green", draggable="true", ondragstart="dragstarted(event);")
              img.marker#marker_Orange(src="/images/orangemarker.png", title="Orange", alt="Orange", draggable="true", ondragstart="dragstarted(event);")
            li(style="margin-left:-10px;") Click to add a description or photo to buildings
            li.exportmap(style="margin-left:-10px;") Download map:
              ul
                li(style="list-style-type:none;margin-left:-25px;")
                  a(href="#", onclick="downloadFile(0)") Google Earth / KML
                li(style="list-style-type:none;margin-left:-25px;")
                  a(href="#", onclick="downloadFile(1)") GeoJSON
              br
            li(style="margin-left:-10px;")
              a(href="#", onclick="saveMap()") Save on MajuroJS.org
        br
        br
        p
          span Data downloaded from&nbsp;
          a.allegheny(href="#", onclick="showDataSource()") Allegheny County
          a.bloomington(href="#", onclick="showDataSource()") City of Bloomington
          a.boston(href="#", onclick="showDataSource()") City of Boston
          a.chicago(href="#", onclick="showDataSource()") City of Chicago
          a.kitsap(href="#", onclick="showDataSource()") Kitsap County
          a.lancaster(href="#", onclick="showDataSource()") Lancaster County
          a.oakland(href="#", onclick="showDataSource()") City of Oakland
          a.philadelphia(href="#", onclick="showDataSource()") City of Philadelphia
          a.savannah(href="#", onclick="showDataSource()") SAGIS
          a.seattle(href="#", onclick="showDataSource()") City of Seattle
          a.spokane(href="#", onclick="showDataSource()") City of Spokane
          br
          br
          span Source code on&nbsp;
          a(href="https://github.com/mapmeld/majurojs") Github
        div.arrow-right

      div#map(ondragend="dragended(event)", ondrop="dropped(event)", ondragover="allowDrop(event)")

  div#creditmessage.modal.hide.fade
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
      h3 Data Source
    div.modal-body
      p.allegheny
        span Buildings data from Allegheny County, Pennsylvania via&nbsp;
        a(href="http://www.pasda.psu.edu/", target="_blank") PASDA
        br
        a(href="http://www.pasda.psu.edu/uci/FullMetadataDisplay.aspx?file=AlleghenyCounty_Footprints20080616.xml", target="_blank") Data Citation
      p.bloomington
        span Buildings data from the City of Bloomington, Indiana via their website.
        a(href="http://bloomington.in.gov/documents/viewDocument.php?document_id=1870", target="_blank") Source
        br
        a(href="http://bloomington.in.gov/documents/viewDocument.php?document_id=709", target="_blank") Data Policy
      p.boston
        span Buildings data for the City of Boston via the&nbsp;
        a(href="http://www.bostonredevelopmentauthority.org/BRA_3D_Models/2D-download.html", target="_blank") Boston Redevelopment Authority
        br
        a(href="http://www.bostonredevelopmentauthority.org/BRA_3D_Models/Index.html", target="_blank") Data Policy
      p.chicago
        span Buildings data from the City of Chicago via&nbsp;
        a(href="https://data.cityofchicago.org", target="_blank") data.cityofchicago.org
        br
        a(href="https://data.cityofchicago.org/Buildings/Building-Footprints/w2v3-isjw", target="_blank") Public Data
      p.kitsap
        span Buildings data from Kitsap County, Washington via their&nbsp;
        a(href="http://www.kitsapgov.com/gis/", target="_blank") GIS portal.
        br
        a(href="http://www.kitsapgov.com/county/privacy.htm", target="_blank") Data Policy
      p.lancaster
        span Buildings data from Lancaster County, Pennsylvania via&nbsp;
        a(href="http://www.pasda.psu.edu/", target="_blank") PASDA
        br
        a(href="http://www.pasda.psu.edu/uci/LancasterAgreement.asp?File=http://www.pasda.psu.edu/lancco/data/LancasterCountyBuildings200812.zip", target="_blank") Data Use Policy
      p.oakland
        span Buildings data from the City of Oakland via&nbsp;
        a(href="http://www2.oaklandnet.com/Government/o/PBN/OurServices/Plans/DOWD008194", target="_blank") Broadway/Valdez District Specific Plan
        br
      p.philadelphia
        span Buildings data from the City of Philadelphia via&nbsp;
        a(href="http://www.opendataphilly.org/opendata/resource/6/buildings/", target="_blank") OpenDataPhilly.org
        br
        a(href="http://opendataphilly.org/faq/#five", target="_blank") Data Use Policy
      p.savannah
        span Buildings data from the Metropolitan Planning Commission and Savannah Area GIS. Visit&nbsp;
        a(href="http://www.thempc.org/SAGIS.htm", target="_blank") thempc.org
        span &nbsp;and&nbsp;
        a(href="http://www.sagis.org", target="_blank") SAGIS.org
        br
        a(href="http://www.thempc.org/SAGIS/Q_Export/default.htm", target="_blank") Data Use Policy
      p.seattle
        span Buildings data from the City of Seattle via&nbsp;
        a(href="https://data.seattle.gov", target="_blank") data.seattle.gov
        br
        a(href="https://data.seattle.gov/dataset/2009-Building-Outlines/y7u8-vad7", target="_blank") Public Domain
      p.spokane
        span Buildings data from the City of Spokane via their&nbsp;
        a(href="http://www.spokanecity.org/services/gis/data/", target="_blank") GIS portal.
        br
        a(href="http://www.spokanecity.org/services/gis/disclaimer/", target="_blank") Data Disclaimer
    div.modal-footer
      a.btn.btn-primary(href="#", onclick="$('.modal').modal('toggle');") Close