head
  meta(charset="utf-8")
  meta(name="author", content="Nick Doiron @mapmeld")
  meta(name="description", content="Instant, intuitive neighborhood maps of 15 cities. Ready to download to Google Earth or store in the cloud. Open source platform for open civic data.")
  title Majuro.js
  link(href="/stylesheets/style.css", rel="stylesheet", type="text/css")
  link(href='http://fonts.googleapis.com/css?family=Alfa+Slab+One', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300italic,300', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

body(data-spy="scroll", data-target=".subnav", data-offset="100")
  div#banner_bg
    h1 MAJURO.JS
    h3
      span Instant, intuitive neighborhood maps
      br
      span Ready to download to Google Earth or store in the cloud
    h3(style="display:none;")
      span Many websites have data.
      br
      span At MajuroJS.org,&nbsp;&nbsp;
      em you
      span &nbsp;&nbsp;have data.

  div#information
    div#main_nav_cont.subnav
      div#nav_cont
        ul.nav.nav-pills
          li
            a(href="#app") App
          li
            a(href="#examples") Examples
          li
            a(href="#cities") Cities
          li
            a(href="#faq") FAQ
            
  div#wrapper
    div#main_container.info
      div#app.main_cont
        div
          p Majuro.JS helps you make detailed, interactive maps with open buildings data.
          p It's free and open source.
        
        h2 It couldn't be easier
        div
          ol
            li
              h3 Draw a neighborhood.
              p Drag points on the blue shape to cover any part of the city.
              img(src="images/draw_shot.png", width="700")
              br

            li
              h3 Drop markers to color-code buildings.
              p Click a building to add a photo or description.
              img(src="images/editor_shot.png", width="700")
              br
              img(src="images/click_editor.png", width="400", style="margin-left:150px;")
              br
              p Your custom map is saved here on MajuroJS.org.

            li
              h3 Data for Download
              p Download your map for Google Earth, share a KML or GeoJSON file, or set up your own site on Github Pages.
              img(src="images/in_earth.png", width="400", style="margin-left:150px;")
              br
        
        h3 No projections, time series tools, or geoprocessing. Just data that works.
        div#finish_line_cont
      
      div#examples.main_cont
        h2 Examples
        div
          ol
            li
              h4(style="margin-top:-30px;") Habitat for Humanity in Bibb County, GA
              p Buildings data illustrated the impact that Habitat for Humanity has had in their neighborhood. Houses were marked green (for renovations), red (for demolitions), or orange (unchanged).
              p
                a(href="http://maconmaps.herokuapp.com/everything.html?table=lynmore&user=mapmeld&lat=32.787338&lng=-83.646888&z=17") The final map
                span &nbsp;was presented at a Code for America event at Mercer University's Center for Collaborative Journalism.
            li
              h4 Historic Chicago
              p
                span At an OpenGov Hack Night,&nbsp;
                a(href="http://historicchicago.herokuapp.com") Historic Chicago
                span &nbsp;was born. Instant timeline maps show when buildings in your neighborhood were built.
              br
              img(src="/images/timelinepic.png", style="width:80%;")
              br
        
        div#finish_line_cont

      div#cities.main_cont
        h1 Cities
        p
          span At launch time, you will be able to download buildings in fifteen cities or counties!
          strong Locations marked with a * have yet to be uploaded.
        p Some sources include addresses, build dates, and height of buildings. You'll get that data, too.
        ul
          li
            a(href="/draw?src=allegheny") Allegheny County (Pittsburgh), PA
          li
            a(href="/draw?src=austin") Austin, TX
          li
            a(href="/draw?src=baltimore") Baltimore, MD
          li
            a(href="/draw?src=bloomington") Bloomington, IN
          li
            a(href="/draw?src=boston") Boston, MA *
          li
            a(href="http://savannah-builder.herokuapp.com") Chatham County (Savannah), GA
          li
            a(href="/draw?src=chicago") Chicago, IL *
            span + (address, build date, height)
          li
            a(href="/draw?src=kitsap") Kitsap County, WA *
            span + (height)
          li
            a(href="/draw?src=lancaster") Lancaster County, PA
          li
            a(href="/draw?src=nanaimo") Nanaimo, Canada
          li
            a(href="/draw?src=oakland") Oakland (partial), CA
            span + (name)
          li
            a(href="http://philly-builder.herokuapp.com") Philadelphia, PA
          //
            li
              a(href="/draw?src=sanfrancisco") San Francisco, CA *
          li
            a(href="/draw?src=seattle") Seattle, WA *
          li
            a(href="/draw?src=spokane") Spokane, WA
          li
            a(href="/draw?src=westsacramento") West Sacramento, CA
        p Buildings data was collected under open data licenses. There is no official endorsement or maintenance of this site by these cities and counties.
        
        div#finish_line_cont

      div#faq.main_cont
        h1 FAQ
        div
          h4 How can I use the data?
          p A popup on each map links to the data's source and the local government's data policy.
          p If you have questions or need the data for anything mission-critical, ask the local government directly.
          hr

          h4 What if my city isn't included?
          p Reach out to your city and county GIS departments. It's possible that they may not have buildings data, or that one may have better data than the other.
          p If you get permission to publish the data freely on this site, please have an official send a written data policy.
          hr
          
          h4 Why would a city or county share their data on MajuroJS.org?
          p MajuroJS.org is a platform for officials, community leaders, student volunteers, and others to illustrate their neighborhoods, their work, and their plans on the web. For the people who trying to change their neighborhoods, it is a huge leap to get the detailed, comprehensive maps from the local government.
          p Publish your data on a site accessible and usable by citizens, without taxing your own website or technical support teams.
          hr
          
          h4 Does the site work with Internet Explorer?
          p All saved and finished maps should work with Internet Explorer 7 and above - this makes your maps available to most local government officials.
          p In the map editor, a color change control appears in place of the drag &amp; drop editor. Direct KML and GeoJSON downloads are unavailable until after you save your map.
          hr

          h4 How do I add my data?
          p Send a shapefile, KML, or a link to a page from your city's open data site.
          hr

          h4 Is this open source?
          p
            span The entire site is open source.&nbsp;
            a(href="https://github.com/mapmeld/majurojs") Source code on Github
          p The background map (and the image at the top of this page) use data from OpenStreetMap.
          hr
          
          h4 Can I map a whole city with this?
          p Maps on Majuro.js are vector-based, so several hundred or thousands of buildings can slow down web browsers.
          p
            span For large projects, try downloading the data as KML, then upload it to&nbsp;
            a(href="http://cartodb.com") CartoDB
            span &nbsp;and edit it through&nbsp;
            a(href="https://github.com/codeforamerica/NeighborDiff") NeighborDiff
            span .
          hr

          h4 How did this project get started?
          p
            span I am Nick Doiron, @mapmeld on&nbsp;
            a(href="http://twitter.com/mapmeld") Twitter
            span &nbsp;and&nbsp;
            a(href="http://github.com/mapmeld") Github
            span . Majuro.js is based on projects that I made for the City of Macon, GA during my Code for America fellowship, particularly:&nbsp;
            a(href="https://github.com/codeforamerica/geodata-checkout") GeoData Checkout
            span &nbsp;and&nbsp;
            a(href="https://github.com/codeforamerica/NeighborDiff") NeighborDiff.
        
        div#finish_line_cont

script(src="scripts/jquery-1.7.1.min.js", type="text/javascript")
script(src="scripts/bootstrap-transition.js", type="text/javascript")
script(src="scripts/bootstrap-modal.js", type="text/javascript")
script(src="scripts/bootstrap-scrollspy.js", type="text/javascript")
script(src="scripts/application.js", type="text/javascript")
script(src="scripts/bootstrap-tooltip.js", type="text/javascript")
script(src="scripts/bootstrap-popover.js", type="text/javascript")
script(src="scripts/jquery.easing.1.2.js", type="text/javascript")
script(src="scripts/jquery.scrollTo-1.4.2-min.js", type="text/javascript")
script(src="scripts/jquery.localscroll-1.2.7-min.js", type="text/javascript")
script(src="scripts/jquery.ba-hashchange.min.js", type="text/javascript")