head
  title Regions of City/County
  link(href="/stylesheets/bootstrap-mini.css", type="text/css", rel="stylesheet")
  script(type="text/javascript" src="/scripts/localregions.js")
body
  div.navbar
    .navbar-inner
      .container
        li
          a.brand(href="#") MajuroJS.org
        li
          a(href="#") Draw

  div.container
    .row
      .span8
        .hero-unit(style="background-color:#C2F23C;")
          h1 MajuroJS.org
          h3
            span Regions of
            span(style="text-transform:capitalize;") #{city}
        div
          h3 Lists of regions:
          table
            tr
              td
              td
              td
              td
            tr
              td
              td
              td
              td
          
      .span4
        h2 Look up a Region
        div.regionlists