head
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
  title Majuro.js Saved Map
  link(rel="stylesheet", href="/stylesheets/leaflet.css", type="text/css")
  link(rel="stylesheet", href="/pancontrol/stylesheets/L.Control.Pan.css", type="text/css")
  // [if lte IE 8]
    link(rel="stylesheet", href="/stylesheets/leaflet.ie.css", type="text/css")
    link(rel="stylesheet", href="/pancontrol/stylesheets/L.Control.Pan.ie.css", type="text/css")
  link(href="/stylesheets/bootstrap-mini.css", rel="stylesheet", type="text/css")
  link(href='/stylesheets/custombuild.css', rel='stylesheet', type='text/css')
  script(type="text/javascript", src="/scripts/leaflet.js")
  script(type="text/javascript", src="/scripts/jquery-1.6.2.min.js")
  script(type="text/javascript", src="/pancontrol/scripts/L.Control.Pan.js")
  script(type="text/javascript") var customgeo = "#{customgeo}"; var edited = !{edited};
  script(type="text/javascript", src="/scripts/storedmap.js")

body
  div#sidebar
    div#timeline(style="padding-left:20px;padding-top:8px;")
      h2 Majuro.js
      p
        span Data downloaded from&nbsp;
        a.allegheny(href="#") Allegheny County / PAGIS
        a.chicago(href="#") City of Chicago
        a.lancaster(href="#") Lancaster County / PAGIS
        a.oakland(href="#") City of Oakland
        a.philadelphia(href="http://www.opendataphilly.org/opendata/resource/6/buildings/") OpenDataPhilly
        a.savannah(href="http://www.thempc.org/SAGIS.htm") SAGIS
        a.seattle(href="#") City of Seattle
        br
        span Save as&nbsp;
        a(href="#", onclick="downloadFile(0)") Google Earth / KML
        br
        span or&nbsp;
        a(href="#", onclick="downloadFile(1)") GeoJSON
        br
        br
        span Make your own map at
        br
        a(href="http://www.majurojs.org") MajuroJS.org
  div#map