html, body, #map{
  height: 100%;
  width: 100%;
  overflow: none;
}
body {
  margin:0;
  padding:0;
  font-family: arial, sansserif;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
}
#sidebar {
  position:absolute;
  bottom:20px;
  left:10px;
  border-radius: 10px;
  background:#fafafa;
  padding: 15px;
  z-index:999;
  overflow:auto;
}
#timeline {
  padding:10px;
}
#timeline a {
  font-size:10px;
  text-decoration:none;
  display: none;
}
#timeline #controls a {
  font-size:20px;
  margin-left:10px;
  display: inline;
}
#timeline a.visible{
  display: inline;
}
#controls{
  margin-top: 18px;
}
#timeline a.ui-slider-handle{
  display: block;
}
.icon-white{
  margin-top: 4px !important;
}

.zoomer,
.map-fullscreen,
.map-tooltip .close {
  text-indent:-999em;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAAAeCAYAAADO4udXAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHFSURBVHic7dpBbsIwEAXQoZpbwKKz8Bm66EFyjUicI1KuwUF6Ci/cBbmFJbqoLbluJezgMSn8JyGhJMRAvmZiw+5yuRBAay/3fgPwmBAsUIFggQoEC1QgWKACwQIVCBaoQLCgiIiMIjKWHo9gbVy4oJ/po9e42fPiUBERcemBxpiD935i5qO19ly6rzUR+SAics69a46zFc65WUSIKi9sA2MYN449O+fm0hcXVyzv/UREb977kzHmELeHUJ3Cvqn0fDfYhwfoi5WqKlREFRWLmY8hQPsQroGIKG4jooWZjzWDw3VJG4oXtnflWqU4WNbaszFmSMMVdsVQDdpt8NmkoYoVI2lPPY0iQjVVa1f774ak9cV2pBqqcE91rfUtre+57jGuiIxJgFa3oS0orljQxU03zGv8NeNzzr3eet6qipVVqyVs7toK43S7xYffmmwpoVulysPV4rstnhXmoWLmgZkH+g7YPp8twnOrXW74UZ2stecsXD2WG55F1Ur3Wtmss1mFrF1u+LUImswWp07LDcv1Q/6n3u1dc9ZZPSuExxErosa9HIIFKvAjNKhAsEAFggUqECxQgWCBCgQLVCBYoALBAhVfpi7sxwlEhWYAAAAASUVORK5CYII=) no-repeat 0 0;
  overflow:hidden;
  display:block;
  }
  .map-tooltip .close:active,
  .zoomer:active,
  .map-fullscreen:active {
    border-color:#b0b0b0;
    background-color:#f0f0f0;
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.15);
            box-shadow:inset 0 1px 3px rgba(0,0,0,0.15);
    }

.map-tooltip .close {
  top:4px;
  right:4px;
  width:20px;
  height:20px;
  background-position:-6px -6px;
  }

.zoomer {
  width:30px;
  height:30px;
  top:10px;
  left:10px;
  z-index:2;
  }

.zoomin {
  background-position:-31px -1px;
  left:39px;
  -webkit-border-radius:0 3px 3px 0;
          border-radius:0 3px 3px 0;
  }

.zoomout {
  background-position:-61px -1px;
  -webkit-border-radius:3px 0 0 3px;
          border-radius:3px 0 0 3px;
  }

.zoomdisabled {
  background-color:#eee;
  }