html, body, #map{
  height: 100%;
  width: 100%;
  overflow: none;
}
body {
  margin:0;
  padding:0;
  font-family: arial, sansserif;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  overflow:none;
}
#sidebar {
  position:absolute;
  top:20px;
  left:10px;
  border-radius: 10px;
  background:#fafafa;
  padding: 15px;
  z-index:999;
  overflow:auto;
}
#timeline {
  padding:10px;
}
#timeline a {
  text-decoration:none;
  display: none;
}
#timeline #controls a {
  font-size:20px;
  margin-left:10px;
  display: inline;
}
#timeline a.visible{
  display: inline;
}
#timeline a.timeline{
  display: none;
}
#timeline span.timeline{
  display: none;
}