html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  margin:0;
  padding:0;
  font-family: arial, sansserif;
  border: 5px solid #444;
  background-color: #f0f0f0;
}
#map {
  height:99%;
  overflow:none;
  position:absolute;
  top:0;
  bottom:0;
  width:82%;
  left:18%;
  border-left: 6px solid #444;
}
.span2{
  width: 15%;
}
.marker{
  vertical-align:middle;
  width: 26px;
  margin: 8px;
  display: inline-block;
}
ol li{
  margin-top: 8px;
  margin-bottom: 8px;
}
ul li{
  margin-top: 8px;
  margin-bottom: 8px;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 0px solid transparent;
  border-bottom: 620px solid transparent;
  border-left: 36px solid #444;
  position: absolute;
  left: 18%;
  top: 0;
  z-index: 10;
}
.allegheny{ display:none; }
.austin{ display:none; }
.baltimore{ display:none; }
.bloomington{ display:none; }
.boston{ display:none; }
.boulder{ display:none; }
.chapelhill{ display:none; }
.chicago{ display:none; }
.clark{ display:none; }
.honolulu{ display:none; }
.kitsap{ display:none; }
.lancaster{ display:none; }
.midland{ display:none; }
.nanaimo{ display:none; }
.nyc{ display:none; }
.oakland{ display:none; }
.petaluma{ display:none; }
.philadelphia{ display:none; }
.raleigh{ display:none; }
.roundrock{ display:none; }
.sanfrancisco{ display:none; }
.savannah{ display:none; }
.seattle{ display:none; }
.smith{ display:none; }
.spokane{ display:none; }
.steamboatsprings{ display:none; }
.westsacramento{ display:none; }
.modal-body p{
  font-size: 13pt !important;
  line-height: 25pt !important;
}
#savemapsat{
  display: inline;
  vertical-align: top;
  margin-right: 10px;
}
.row-fluid{
  user-select: none;
  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}