.popover{
  position:absolute;
  right:35px;
  bottom:35px;
  background-color:#fff;
  border: 1px solid #000;
  font-family: verdana, sanserif;
  padding: 12px;
  border-radius: 5px;
}
.modal-body p{
  font-size: 13pt !important;
  line-height: 25pt !important;
}
.allegheny{ display:none; }
.austin{ display:none; }
.baltimore{ display:none; }
.bloomington{ display:none; }
.boston{ display:none; }
.boulder{ display:none; }
.chapelhill{ display:none; }
.chicago{ display:none; }
.clark{ display:none; }
.honolulu{ display:none; }
.kitsap{ display:none; }
.lancaster{ display:none; }
.midland{ display:none; }
.nanaimo{ display:none; }
.nyc{ display:none; }
.oakland{ display:none; }
.petaluma{ display:none; }
.philadelphia{ display:none; }
.raleigh{ display:none; }
.roundrock{ display:none; }
.sanfrancisco{ display:none; }
.savannah{ display:none; }
.seattle{ display:none; }
.smith{ display:none; }
.spokane{ display:none; }
.steamboatsprings{ display:none; }
.westsacramento{ display:none; }