.popover{
  position:absolute;
  right:35px;
  bottom:35px;
  background-color:#fff;
  border: 1px solid #000;
  font-family: verdana, sanserif;
  padding: 12px;
  border-radius: 5px;
}
.modal-body p{
  font-size: 13pt !important;
  line-height: 25pt !important;
}
.allegheny{ display:none; }
.bloomington{ display:none; }
.boston{ display:none; }
.chicago{ display:none; }
.kitsap{ display:none; }
.lancaster{ display:none; }
.oakland{ display:none; }
.philadelphia{ display:none; }
.savannah{ display:none; }
.seattle{ display:none; }
.spokane{ display:none; }