html, body{
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}
body{
  padding: 6px;
}
.container{
  height: 100%;
}
.mainrow{
  height: 85%;
}
.nav-pills{
  margin-left: 20px;
}
.searchbox{
  float: right;
}
#searchbutton{
  vertical-align: top;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}
.marker{
  vertical-align: middle;
  width: 32px;
}
#map{
  height: 85%;
}